@import "css/slider.css";

#root {
  padding: 2rem;
  text-align: center;
  width: 100%;
}

header {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

footer {
  gap: 1rem;
  padding: 1rem;
  display: grid;
  align-items: baseline;
  grid-template-columns: repeat(3, 1fr);
  border-top: 4px solid lightgray;
}

.info__buttons {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

.icon {
  width: 4rem;
  height: 4rem;
}

.middle__indicators {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-evenly;
}

.middle__indicator__container {
  display: flex;
  flex-direction: column;
}

.rpm__indicators {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-evenly;
  background-color: gray;
  border-top: 4px solid lightgray;
  border-bottom: 4px solid lightgray;
}

datalist {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
